@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format("truetype");
}

html,
body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}

.form-popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form1-popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 3s 0s, visibility 3s 0.3s;
    -moz-transition: opacity 3s 0s, visibility 3s 0.3s;
    transition: opacity 3s 0s, visibility 3s 0.3s;
    overflow-y: auto;
    z-index: 10000;
}

.form1-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 3s 0s, visibility 3s 0.3s;
    -moz-transition: opacity 3s 0s, visibility 3s 0.3s;
    transition: opacity 3s 0s, visibility 3s 0.3s;
    overflow-y: auto;
    z-index: 10000;
}

.form-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 3s 0s, visibility 3s 0s;
    -moz-transition: opacity 3s 0s, visibility 3s 0s;
    transition: opacity 3s 0s, visibility 3s 0s;
}

.form1-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 3s 0s, visibility 3s 0s;
    -moz-transition: opacity 3s 0s, visibility 3s 0s;
    transition: opacity 3s 0s, visibility 3s 0s;
}

.form-container {
    background-color: #2d3638;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px;
    color: #fff;
}

.close-button {
    background: none;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #fff;
}

.form-popup-bg:before {
    content: "";
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form1-popup-bg:before {
    content: "";
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card {
    max-width: 1250px;
    min-width: 300px;
    width: auto;
}

.card-header h3 {
    color: white;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.container {
    width: auto;
    max-width: 1250px;
    margin-top: 50px;
}

.card {
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

th {
    background-color: #F39C12;
}

.card-header {
    color: azure;
}

.btn1 {
    background-color: blueviolet;
    border-radius: 20px;
    border: 1px solid var(--lightblue);
    color: var(--gray);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 180ms ease-in;
}